<div ng-show="userDel" class="alert alert-info">{{ 'user_deleted' | i18n }}
</div>
<div id="moi-splash">
  <div id="moi-panel">
    <div class="container">
      <div class="row">
        <section class="col-sm-7">
          <h1>Empowering the next billion citizens of the web</h1>
          <p class="lead">
            Mozilla is working to ensure that the next billion people to come online for the first time through their smartphones will discover a Web that's open, accessible and relevant.
          </p>
        </section>
        <div class="col-sm-offset-1 col-sm-4">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <a class="btn btn-default" href="mailto:mobileopportunity@mozilla.org">
            <i class="fa fa-users"></i>
            Partner with us
          </a>
          <a class="btn btn-default" href="http://mzl.la/webmaker">
            <i class="fa fa-share-square-o"></i>
            Try the open beta
          </a>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row section-header">
        <div class="col-sm-12">
          <h3>Understanding Users</h3>
          <p class="lead">
            Mozilla is leading a research program which aims to study technology and design approaches that enable greater participation in mobile digital life and grow local content creation.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <figure>
            <img src="/img/moi/global-users.png" alt="Global Users">
          </figure>
        </div>
        <div class="col-sm-6">
          <div id="moi-webmaker-research-reports">
            <a class="header" href="">
              <div class="icon">
                <i class="fa fa-file-text fa-3x"></i>
              </div>
              <div class="text">
                <div class="the-title">
                  Webmaker synthesis research report
                </div>
                <p>
                  <em>In 2014 and 2015, we conducted on-the-ground studies in Bangladesh, India and Kenya.</em>
                </p>
              </div>
            </a>
            <ul>
              <li>
                <a href="http://mzl.la/bangladesh">Webmaker Bangladesh research report</a>
              </li>
              <li>
                <a href="http://mzl.la/kenya">Webmaker Kenya research report</a>
              </li>
              <li>
                <a href="">Webmaker India research report</a>
              </li>
              <li>
                <a href="http://blog.mozilla.org/m4d/">Webmaker mobile for development blog</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="moi-enabling-digital-creativity">
    <div class="container">
      <div class="row section-header">
        <div class="col-sm-12">
          <h3>Enabling Digital Creativity</h3>
          <p class="lead">
            Mozilla is building Webmaker, a free & open source mobile content creation app.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>
            Webmaker helps smartphone users become creators of a Web that will improve their lives and communities, by making simple apps for things like promoting a small business, sharing community news, or building a lesson plan for students.
          </p>
          <p>
            Webmaker is available in over 20 languages and backed by a growing community of volunteer digital skills mentors. It will be available for Android, Firefox OS, and modern mobile browsers later this year.
          </p>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-primary" href="http://mzl.la/webmaker">
            <i class="fa fa-share-square-o"></i>
            Try the open beta
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="moi-partner-with-mozilla">
    <div class="container">
      <div class="row section-header">
        <div class="col-sm-12">
          <h2>Partner with Mozilla</h2>
          <p class="lead">
          Let’s ensure the next generation of web users have the skills to create a locally relevant web. We are a global movement with volunteers in over 30 countries. If you are a mobile operator or NGO, partner with us to offer digital skills training to your most engaged users.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row section-header">
        <div class="col-sm-12">
          <h3>Partners</h3>
          <p class="lead">
            Mozilla is proud to partner with these mobile operators, educators, international development institutions, and NGOs who are interested in positively shaping the future of the mobile Web.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="moi-quotes">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          hi
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Footer -->
<div ng-include="'/views/partials/footer.html'"></div>
